__pycache__/
*.pyc
*.pyo
*.pyd

data/

.venv
venv
ENV
env
virtualenv

dist/
build/
*.egg-info/

/reverso_scraper/node_modules/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.vscode/
.idea/

*.sublime-project
*.sublime-workspace

Thumbs.db
ehthumbs.db
